.Registration{
	text-align: center;
	background-color: grey;
}

header{
	background-color: black;
	color: white;
	font-size: 24px;
}

footer{
	background-color: black;
	color: white;
	font-size: 18px;
}
form{
	border:2px solid orange;
	background-color: #45ab3d;
	margin-left: 40%;
	margin-right: 40%;
	margin-top:70px;
	padding:20px;
}